.multiply-symbol {
    background: var(--basic-font-colour);
    height: 0.125em;
    width: var(--basic-font-size);
    transform: rotate(45deg);
    position: relative;
}

.multiply-symbol::before {
    content: "";
    background: var(--basic-font-colour);
    position: absolute;
    height: 0.125em;
    width: var(--basic-font-size);
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
}