.pythagorean-svg-container {
    width: 160px;
}

.pythagorean-svg-container text {
    fill: var(--inverted-font-colour);
    font-weight: bold;
}

.pythagorean-svg-container polygon {
    fill: var(--basic-font-colour);
}

/* A² */

g[id="a"][data-highlight="true"] polygon[id="a"] {
    stroke: var(--yellow-scale-2);
    fill: var(--yellow-scale-2);
}

g[id="a"][data-highlight="true"] text[id="a"] {
    fill: var(--red-scale-4);
}

/* B² */

g[id="b"][data-highlight="true"] polygon[id="b"] {
    stroke: var(--yellow-scale-2);
    fill: var(--yellow-scale-2);
}

g[id="b"][data-highlight="true"] text[id="b"] {
    fill: var(--red-scale-4);
}

/* C² */

g[id="c"][data-highlight="true"] polygon[id="c"] {
    stroke: var(--yellow-scale-2);
    fill: var(--yellow-scale-2);
}

g[id="c"][data-highlight="true"] text[id="c"] {
    fill: var(--red-scale-4);
}